.cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 130px;
        height: 85px;
        
      }

      .cropit-preview-image-container {
        cursor: move;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      button[type="submit"] {
        margin-top: 10px;
      }

      #result {
        margin-top: 10px;
        width: 900px;
      }

      #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
      
      input.cropit-image-zoom-input {
    box-sizing: border-box;
    width: 100%;
}

.image-editor {
position: relative;
}
input[type="file"]    {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
    }  
.uploadImageButton{
    position: absolute;
    top:0px;
    left:0px;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 0;
    cursor: pointer;
    background-image: url(assets/img/upload.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    box-sizing:border-box;
        background-color: rgba(255,255,255,0.5);
}
.uploadImageButton:hover {
    filter:invert(1);
    border: 1px solid #404040;
    background-color: rgba(255,255,255,0.7);
    
    }