@import url("https://fonts.googleapis.com/css?family=Quicksand:400");
p,
div,
text,
input,
textarea {
  font-family: Quicksand;
}
h2 {
margin-bottom: 0;
}
.container {
max-width:600px;
margin:50px auto;
/* display:flex; */
justify-content: space-around;
}
.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 11px;
    border: 1px solid #a9a9a9;
    position: relative;
    border-radius: 3px;
    background: rgba(255,255,255,0.85);
    cursor: -webkit-grab;
}

.newsBlocks {
min-height:20px;
}
.removeButton {
    right: -9px;
    top: -9px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    border: 1px solid #a9a9a9;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
    transition:250ms;
}
textarea {
display: block;
padding: 5px;
margin: 5px 0;
min-width: 100%;
max-width: 100%; 
 min-height:72px; 
 box-sizing: border-box; 
/* color: rgb(238,238,238) */
}
.progress:after{
content:"";
    background: url(https://hsto.org/getpro/habr/post_images/451/5dc/843/4515dc843bbdc21e00d96d4db2a42d87.gif) no-repeat 50% 50%,
    rgba(255,255,255,0.5);
    background-size: 250px;
    display:block;
    z-index:999;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    
}
.removeButton:hover {
color:red;
border-color:red;
text-shadow: red 0px 0px 1px;
}
.newsBlock {
/* width:20%; */
position: relative;
}
.inputGroup input {
padding: 5px;
margin: 5px 0;
/* color: rgb(238,238,238); */
}
.inputGroup input[type="checkbox"] {
margin-right: 5px;
}
.addNewPost {
    /* position: absolute;
    top: 20px;
    right: 0; */
    border: 1px solid #252525;
    border-radius: 3px;
    font-size: 24px;
    font-weight: bold;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    transition:250ms;
}
.addNewPost:hover{
    color:black;
    border-color:green;
    text-shadow: green 0px 0px 10px;
    box-shadow:green 0px 0px 5px;
    background-color:rgba(0,255,0,0.25);
}
.sharingBlock h4{
display: inline;
}
.ui-sortable-placeholder {
border:3px dashed grey;
border-radius:5px;
box-sizing:border-box;
visibility:visible!important;
}


.inputGroup{
display: grid;
    grid-template-columns: 132px 1fr;
    /* grid-template-rows: repeat(5,1fr); */
    grid-gap: 10px;
}
.inputGroup input, textarea {
margin: 0;
/* border:none;
border-bottom:1px solid #a9a9a9; */
}
.competitors .inputGroup{
grid-template-columns: 1fr;
}
input.link {
     grid-column: 1/3; 
}
.competitors input.link {
     grid-column: 1/2; 
}
.inputGroup .picture, .inputGroup .pictureBlock  {



    grid-column: 1/2;
    grid-row: 2/6;
}

.pictureBlockImage {
  width: 130px;
  height: 85px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureBlockImage img {
  position: absolute;
  min-width:130px;
  min-height:85px;
}


.dontShareButton{
font-size:0.9em;
display: inline-block;
}

.slider {
  border-radius: 5px;
  background: #E0E0E0;
  width: 132px;
  height: 15px;
  margin: 5px 0;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  top: -4px;
  background: blue;
  cursor: pointer;
}